
/* ======= card overrides ======= */
.sectioned_content_heading {
    font-family: monospace;
}

/* ======= body styles ======= */
.daily_post {
    display: block;
    max-width: 700px;
    max-height:100%;
    margin-left: 2em;
    overflow: clip;
}

/* ======= heading styles ======= */
.daily_heading_elem {
    font-family: monospace;
    font-style: bold;
    font-size: 2em;

    border: 2px solid #9b612a;
    border-left: unset;
    border-bottom: unset;

    margin: 0.75em;
    padding: 0.5em;
    text-align: right;
}

.daily_heading_theme {
    display: block;
    word-wrap: normal;

    border: 2px solid #9b612a;
    border-right: unset;
    border-top: unset;

    font-family: monospace;
    font-style: italic;
    font-size: 1.75em;

    margin: 0.75em;
    padding: 0.5em;
    text-align: left;
}

/* ======= content styles ======= */
.daily_textbody_elem, .daily_textbody_list {
    display: block;
    word-wrap: normal;
    font-style: italic;
    font-size:1.2em;

    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}
.daily_textbody_quote_line_elem {
    font-style: normal;
    /* font-size: 1.05em; */
    margin-left: 2em;
}


/* ======= the listing styles ======= */
.daily_textbody_list, .daily_textbody_subquote_elem {
    border-left: 2px solid #9b612a;
}
.daily_textbody_list_elem {
    /* border: 2px solid #9b612a;
    border-right: unset;
    border-bottom: unset; */
    /* border-top: unset; */
    
    margin: 0.75em;
    margin-top:unset;
    padding: 0.5em;
}
.daily_textbody_sublist_elem{
    border: unset;
}

/* ======= line stylings ======= */
.hr_list_elem_seperating {
    border: unset;
    border-top: 3px inset #9b612a;
    border-bottom: 3px inset #9b612a;

    padding-top: 3px;
}

/* ======= post image container ======= */
.daily_post_content_image_container {
    background-color: #232e3f;
    box-shadow: 3px 3px 2px #131e2f;

    grid-column: 2 / span 3;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    border: 2px inset #9b612a;
    
    padding: 5px;
    
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    
}
.daily_post_content_image {
    background-color: #0c2547;
    box-shadow: 3px 3px 2px #131e2f;

    display:block;
    max-width: 200px;
    
    border: 2px solid #946e4b;

    margin: 7px;
    /* padding: 5px; */
    
}