
/* ======= card overrides ======= */
.sectioned_content_heading {
    font-family: monospace;
}

/* ======= body styles ======= */
.daily_post {
    display: block;
    max-width: 700px;
    max-height:100%;
    margin-left: 2em;
    overflow: clip;
}

/* ======= heading styles ======= */
.daily_heading_elem {
    font-family: monospace;
    font-style: bold;
    font-size: 2em;

    border-right: 2px solid #9b612a;
    border-left: unset;

    margin-right: 0.5em;
    padding-right: 0.5em;
    margin-left: unset;
    padding-left: unset;
    text-align: right;
}

.daily_heading_theme {
    display: block;
    word-wrap: normal;

    border-right: unset;
    border-left: 2px solid #9b612a;

    font-family: monospace;
    font-style: italic;
    font-size: 1.75em;

    margin-right: unset;
    padding-right: unset;
    margin-left: 0.5em;
    padding-left: 0.5em;
    text-align: left;
}

/* ======= content styles ======= */
.daily_textbody_elem, .daily_textbody_list {
    display: block;
    word-wrap: normal;
    font-style: italic;
    font-size:1.2em;

    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}
.daily_inline_quote {
    font-style: normal;
    font-size: 1.05em;
}