

/* ===== GLOBAL ===== */
* {
    font-family: monospace;
    color: #ffb570;
    text-shadow: 2px 2px 2px #2a1c0f;
}
html {
    background: #0b2c5b;
}
img {
    box-shadow: 5px 5px 3px #1f1f1f;
}
li {
    margin-top:7px;
    margin-bottom:7px;
}



/* ===== BODY SECTION ===== */
body:not(.body_hiding_style) {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
}
.body_hiding_style{
    display:inherit;
}

/* ===== PAGE HEADER TREE ===== */
header:not(.header_hidden) {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: auto auto auto;
    border-bottom: 2px solid #c1d4ed;
}
.header_hidden {
    display: none;
}
#top_header_logo {
    margin: 5px;
    padding: 5px;
    grid-column: 1 / span 1;
}
#top_header_text {
    padding: 5px;
    grid-column: 2 / span 2;
}

/* ===== NAV TREE ===== */
nav:not(.nav_hidden) {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row dense;
    align-content:flex-start;
}
.nav_hidden {
    display: none;
}
.nav_link {
    display: block;
    grid-row: auto;
    margin: 5px;
    text-align: center;
    background-color: #304d75;
    box-shadow: 3px 3px 2px #131e2f;
}
.nav_link_anchor {
    display: block;
    margin: 3px;
    padding: 5px;
    border-bottom: 2px solid #acc5df;
    border-left: 2px solid #acc5df;
    text-align: center;
    background-color: #304d75;
}

/* ===== MAIN BODY ===== */
.content_body {
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* flex-direction: column-reverse; */
}
main {
    border-left: 2px solid #c1d4ed;
    grid-column: 2 / span 3;
    padding: 5px;
    overflow: scroll;
}
.sectioned_content_outter:not(.section_hidden) {
    display: block;
    min-width:fit-content;
    background-color: #0c2547;
    margin: 7px;
    padding: 5px;
    box-shadow: 3px 3px 2px #131e2f;
}
.section_hidden {
    display: none;
}
.sectioned_content_inner {
    background-color: #0c2547;
    padding: 5px;
    border-top: 2px solid #8cb0de;
    border-left: 2px solid #8cb0de;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.sectioned_content_thumbnail {
    background-color: #0c2547;
    padding: 5px;
    margin-right: 5px;
    border-bottom: 2px solid #7297c6;
    border-right: 2px solid #7297c6;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: 7em;
}
.sectioned_content_heading {
    background-color: #0c2547;
    padding: 5px;
    margin-right: 5px;
    border-bottom: 2px solid #7297c6;
    border-right: 2px solid #7297c6;
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    text-wrap: nowrap;
}
.sectioned_content_body {
    background-color: #0c2547;
    padding: 5px;
    margin: 5px;
    border-bottom: 2px solid #5988c6;
    border-right: 2px solid #5988c6;
    grid-row: 2 / span 2;
    grid-column: 1 / span 3;
}
#meditations_daily_quote, #taoteching_daily_quote {
    margin-left: 2em;
}

.quote_text_italics_elem {
    padding-left: 3em;
}


/* ===== FOOTER ===== */
footer:not(.footer_hidden){
    grid-column: 1 / span 4;
    border-top: 2px solid #c1d4ed;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footer_hidden {
    display: none;
}
.footer_section {
    margin: 5px;
}