
li {
    margin-top:7px;
    margin-bottom:7px;
}
#info_quote_credits {
    margin-left: 2em;
    display: block;
}


.info_quote_text_italics_elem {
    font-style: italic;
    display: block;
    margin-left: 3em;
    word-wrap: normal;
}