
li {
    margin-top:7px;
    margin-bottom:7px;
}
.webgl_techdemo_container {
    margin-left: 2em;
    display: block;
}
.sectioned_content_thumbnail {
    max-width: 100px;
}
.sectioned_content_outter:not(.section_hidden) {
    max-width: 100%;
}
.sectioned_content_body {
    display: block;
}
#webgl_canvas_primary {
    display: block;
}
